last_changes
commit_msg
commit_msg_new_ver
build-debian-package.sh
out-berb-docker-mgr

## Debhelper outputs
debian/.debhelper/
debian/berb-docker-mgr.substvars
debian/berb-docker-mgr/
debian/debhelper-build-stamp
debian/files
