last_changes
commit_msg
sparse
pkg_rootfs
build-debian-package.sh

## Debhelper outputs
debian/.debhelper/
debian/berb-docker-mgr.substvars
debian/berb-docker-mgr/
debian/debhelper-build-stamp
debian/files
