Source: berb-docker-mgr
Maintainer: berbascum
Section: utils
Priority: optional
Build-Depends: debhelper (>= 10),
               debhelper-compat (= 13),
Standards-Version: 4.5.0.3

Package: berb-docker-mgr
Architecture: all
Depends: ${misc:Depends},
         docker.io,
	 wget,
         bbl-net-lib (>= 1.0.0.1),
         bbl-general-lib (>= 1.1.0.1),
         bbl-git-lib (>= 1.1.0.1),
Description: Bash script to manage docker containers with multiple plugins
